@import "tailwindcss";
@keyframes floatUp {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  20% {
    opacity: 0.25;
  }

  80% {
    opacity: 0.15;
  }

  100% {
    transform: translateY(-80px);
    opacity: 0;
  }
}

.animate-float {
  animation: floatUp linear forwards;
}